.nav {
	background: #0a0;
	display: flex;
	justify-content: stretch;
	box-shadow: 0 0 3px 3px rgba(0,0,0,0.3);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
}

.nav__link {
	color: white;
	flex: auto;
	font-family: sans-serif;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	text-align: center;
	border-left: 1px solid #080;
	margin: 0;

	&:first-child {
		border-left: 0;
	}

	&:hover {
		background: #2c2;
	}

	&[data-current] {
		background: #2c2;
	}
}