.has-js .practicer {
	position: relative;
	max-width: 200px;
	margin-top: 10px;
	height: 20px;
	background: linear-gradient(to right, $red 0%,$amber 50%,$green 100%);
	border-radius: 5px;

	&::before {
		@include icon(thumb_down, 15, white);
		display: block;
		content: ' ';
		position: absolute;
		left: 2px;
		height: 15px;
		width: 15px;
		top: 2px;
	}

	&::after {
		@include icon(thumb_up, 15, white);
		display: block;
		content: ' ';
		position: absolute;
		right: 2px;
		height: 15px;
		width: 15px;
		top: 2px;
	}

}

