.practicer {
	margin-top: 20px;

	&[data-practiced] {
		opacity: 0.3;
	}
 }
.has-js .practicer {
	position: relative;
	max-width: 300px;
	width: 100%;
	height: 30px;
	background: linear-gradient(to right, $red 0%,$amber 50%,$green 100%);
	border-radius: 5px;

	&::before,
	&::after {
		display: block;
		content: ' ';
		position: absolute;
		height: 15px;
		width: 15px;
		top: 8px;
	}

	&::before {
		@include icon(thumb_down, 15, white);
		left: 5px;
	}

	&::after {
		@include icon(thumb_up, 15, white);
		right: 5px;
	}

}

