.practicer {
	position: relative;
	max-width: 200px;
	margin-top: 10px;
}

.practicer__wrapper {
	position: absolute;
	top: 0;
	left:0;
	right:0;
	bottom:0;
	background: white;
	overflow: hidden;
	text-align: center;
	&:after {
		content: 'rate';
		text-transform: uppercase;
		position: relative;
		z-index: 1;
	}
}

.practicer__bar {
	position: absolute;
	top: 0;
	left:0;
	right:0;
	bottom:0;
	background-color: black;
	transform: translateX(-100%);
}
