{% extends "layout.html" %}
{% block body %}
	<p>{{tune.name}}{%if unsaved %} <small>Alternative arrangment {{arrangementIndex}}</small>{%endif%}</p>
	<pre class="tune__abc">
K: {{arrangement.root}}{{arrangement.mode}}
M: {{tune.meter}}
R: {{tune.rhythm}}
{{arrangement.abc}}
	</pre>
	{%if paginate %}
	<nav>
			<a href="/tunes/{{tune._id}}?arrangement={{nextArrangement}}">Next</a>,
			<a href="/tunes/{{tune._id}}">Reset</a>
			{%if unsaved %}
				<form action="/api/tunes/{{tune._id}}" method="post" class="select-arrangement">
					<input type="hidden" name="arrangement" value="{{arrangementIndex}}">
					<button type="submit">Select</button>
				</form>
			{%endif%}
	</nav>
	{%endif%}
{% endblock %}