<!doctype html>
<head>
</head>
<body>
	<include template="./partials/nav.marko" template-data=data />
	<include template="./pages/${data.tpl}" />
  <script src="/jspm_packages/system.js"></script>
  <script src="/config.js"></script>
  <script>
    System.import('main.js');
  </script>

</body>