{%if renderWrapper %}
<!DOCTYPE html>
<html class="hasnt-js" data-environment="{{env}}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Jigs n Reels {{env}}</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/main.css">
		<script>
			document.documentElement.className = 'has-js';
		</script>
	</head>
	<body>
		{% include "components/nav/tpl.html" %}
		<main>
{%endif%}
			{% block body %}{% endblock %}
{%if renderWrapper %}
		</main>
		<script src="/abc.js"></script>
		<script src="/main.js"></script>
	</body>
</html>
{%endif%}