$font-color: #333;
$lines: #d7d7d7;
$neutral-bg: #f7f7f7;
$strong-bg: #e7e7e7;
$set-font-color: #306;
$tune-font-color: #530;

$green : #2a0;
$red: #b00;
$amber: #b90;
$blue: #27d;

* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, SansSerif;
	color: $font-color;
	font-size: 16px;
	box-sizing: border-box;
}

html {
	margin: 0;
}

body {
	max-width: 800px;
	margin: 30px auto 0;
}

ul, li, ol {
	list-style: none;
	padding: 0;
}

.has-js .no-js {
	display: none !important;
}

.hasnt-js .js {
	display: none !important;
}

.list {

	> li {
		background: $neutral-bg;
		border: 1px solid $lines;
		margin: 5px;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.1);
	}
}

@import "components/nav/main";
@import "components/set/main";
@import "components/tune-rater/main";
@import "pages/tunes/main";