{% extends "layout.html" %}
{% block body %}
	<ol class="tune-list list">
		{% for tune in tunes %}
		<li>
			<a class="tune-list__tune-link" href="/tunes/{{tune._id}}">{{tune.name}}</a>
			<a class="tune-list__edit-link" href="/tunes/{{tune._id}}/edit">edit</a>
		</li>
		{% endfor %}
	</ol>

	<nav>
		{% if pagination.prev %}
			<a href="/tunes/?limit={{pagination.perPage}}&amp;page={{pagination.prev}}">Previous</a>
		{% endif %}
			<a href="/tunes/?limit={{pagination.perPage}}&amp;page={{pagination.next}}">Next</a>
	</nav>
{% endblock %}