{% extends "layout.html" %}
{% block body %}
	<form class="tune-search">
		<input type="search" name="q" placeholder="Search for a tune" value="{{q}}">
		<button class="no-js" type="submit">search</button>
	</form>
	{% include "pages/tunes/list.html" %}
	<nav>
		{% if pagination.prev %}
			<a href="/tunes/?limit={{pagination.perPage}}&amp;page={{pagination.prev}}">Previous</a>
		{% endif %}
			<a href="/tunes/?limit={{pagination.perPage}}&amp;page={{pagination.next}}">Next</a>
	</nav>
{% endblock %}