.set__tunes {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
}

.set__tune {
	padding: 5px;
	flex: 1 1 120px;
	/*max-width: 300px;*/
	border-left: 1px solid $lines;

	&:nth-child(1) {
		background-color: rgba(46, 66, 114, 0.1);
	}
	&:nth-child(2) {
		background-color: rgba(46, 66, 114, 0.15);
	}
	&:nth-child(3) {
		background-color: rgba(46, 66, 114, 0.2);
	}
	&:nth-child(4) {
		background-color: rgba(46, 66, 114, 0.25);
	}
	&:nth-child(5) {
		background-color: rgba(46, 66, 114, 0.3);
	}
	&:nth-child(6) {
		background-color: rgba(46, 66, 114, 0.35);
	}
	&:nth-child(7) {
		background-color: rgba(46, 66, 114, 0.4);
	}
}