<li class="set">
	<ol class="set__tunes">
		{% for tuneContainer in set.tunes %}
			{% set tune = tuneContainer.tune %}
			<li class="set__tune" data-tune-id="{{tune._id}}">
				<h2 class="set__tune__title">
					<a href="/tunes/{{tune._id}}?key={{tuneContainer.key}}">{{tune.name}} <small>(in {{tuneContainer.key}})</small></a>
					<button class="set__tune-render js">render</button>
				</h2>
				{% include "components/tune-rater/tpl.html" %}
			</li>
		{% endfor %}
	</ol>
	{%if set.dismissable %}
	<button class="set__dismiss">dismiss</button>
	{%endif%}
	<div class="set__tune-score"></div>
</li>